pract_2/Task 2/Flows/Http_Dashboard_Flow.json
[
    {
        "id": "1bc17f4ab352e663",
        "type": "tab",
        "label": "Flow 8",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "57c1ac877af7e9cc",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Emeter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "2493bc99ff6a04c7"
            ]
        ]
    },
    {
        "id": "2493bc99ff6a04c7",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/emeter/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "690b9d9ebfd15d67"
            ]
        ]
    },
    {
        "id": "690b9d9ebfd15d67",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "3c132316b413e37e",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=on",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "e2a2031515e70ed1"
            ]
        ]
    },
    {
        "id": "99720a0f9efed54e",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Relay ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "3c132316b413e37e"
            ]
        ]
    },
    {
        "id": "e2a2031515e70ed1",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "f5e644eff66a3384",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "7d4452553388e18c"
            ]
        ]
    },
    {
        "id": "6836f591d93107c8",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Relay OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "f5e644eff66a3384"
            ]
        ]
    },
    {
        "id": "7d4452553388e18c",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "0bdc7ba768714b7f",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "d74bddfde325ae58"
            ]
        ]
    },
    {
        "id": "a405d36ea84ca60a",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Read Relay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "0bdc7ba768714b7f"
            ]
        ]
    },
    {
        "id": "d74bddfde325ae58",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "97096bf145796170",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=toggle",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "56ed98a001380c5a"
            ]
        ]
    },
    {
        "id": "a38ccc06aa3e97c4",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Toggle Relay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "97096bf145796170"
            ]
        ]
    },
    {
        "id": "56ed98a001380c5a",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "ec37f582ad7f23bb",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.10.110/relay/0?turn=on&timer=10 ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "7c39b81208334640"
            ]
        ]
    },
    {
        "id": "daeddb8ba2de1abd",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Relay ON for 10s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "ec37f582ad7f23bb"
            ]
        ]
    },
    {
        "id": "7c39b81208334640",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "ebbd41e3e19e6abb",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.10.110/roller/0?go=open ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 560,
        "wires": [
            [
                "bbad87cfdc736a02"
            ]
        ]
    },
    {
        "id": "73862d602c5abb1b",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "OPEN Roller",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "ebbd41e3e19e6abb"
            ]
        ]
    },
    {
        "id": "bbad87cfdc736a02",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "8dc3ab2305445f11",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.10.110/roller/0?go=to_pos&roller_pos=30",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 620,
        "wires": [
            [
                "cab9ef7003cdc134"
            ]
        ]
    },
    {
        "id": "32104e1e87b4e402",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "OPEN Roller at 30%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "8dc3ab2305445f11"
            ]
        ]
    },
    {
        "id": "cab9ef7003cdc134",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "f1b1134289d2e893",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/color/0?turn=on&red=255&green=86&blue=112&white=0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 680,
        "wires": [
            [
                "5fd0f90c2c29b45f"
            ]
        ]
    },
    {
        "id": "90fac17e4774d4b7",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Bulb SET Colors",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "f1b1134289d2e893"
            ]
        ]
    },
    {
        "id": "5fd0f90c2c29b45f",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "d969a0096953b5d7",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/color/0?turn=on&red=255&green=86&blue=112&white=0&gain=27 ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "45f6081486937726"
            ]
        ]
    },
    {
        "id": "9ab24650be08fec9",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "Bulb SET Intensity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "d969a0096953b5d7"
            ]
        ]
    },
    {
        "id": "45f6081486937726",
        "type": "debug",
        "z": "1bc17f4ab352e663",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "79bc5a3af869625f",
        "type": "ui_switch",
        "z": "1bc17f4ab352e663",
        "name": "",
        "label": "Switch Relay",
        "tooltip": "",
        "group": "0c1fe831f0e36d2a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1090,
        "y": 340,
        "wires": [
            [
                "bf9b76f732f4ef54"
            ]
        ]
    },
    {
        "id": "09175a9404d9a7c9",
        "type": "inject",
        "z": "1bc17f4ab352e663",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 720,
        "y": 180,
        "wires": [
            [
                "8b8012cd7bab13de",
                "b119e59b7c1f01c5",
                "0669b47aa83405c1"
            ]
        ]
    },
    {
        "id": "bf9b76f732f4ef54",
        "type": "switch",
        "z": "1bc17f4ab352e663",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "dca3c56dbccd5441"
            ],
            [
                "ec9588c0b84f744f"
            ]
        ]
    },
    {
        "id": "dca3c56dbccd5441",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=on",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9588c0b84f744f",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1210,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8b8012cd7bab13de",
        "type": "ui_button",
        "z": "1bc17f4ab352e663",
        "name": "",
        "group": "0c1fe831f0e36d2a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Toggle Relay",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "c99ba67669aa9745"
            ]
        ]
    },
    {
        "id": "c99ba67669aa9745",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0?turn=toggle",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1110,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b119e59b7c1f01c5",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/relay/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 870,
        "y": 360,
        "wires": [
            [
                "1fc07fd3b5a6f4f2"
            ]
        ]
    },
    {
        "id": "5c7c87e7923c7db3",
        "type": "function",
        "z": "1bc17f4ab352e663",
        "name": "",
        "func": "msg.payload = msg.payload.ison\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "79bc5a3af869625f",
                "aae8c6043a52384a"
            ]
        ]
    },
    {
        "id": "fbc9afd899113f66",
        "type": "ui_gauge",
        "z": "1bc17f4ab352e663",
        "name": "",
        "group": "0c1fe831f0e36d2a",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1170,
        "y": 600,
        "wires": []
    },
    {
        "id": "0669b47aa83405c1",
        "type": "http request",
        "z": "1bc17f4ab352e663",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.10.110/emeter/0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "c5684fbe3647188c"
            ]
        ]
    },
    {
        "id": "e3e4ca4613c33672",
        "type": "function",
        "z": "1bc17f4ab352e663",
        "name": "",
        "func": "msg.payload = msg.payload.power\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "fbc9afd899113f66"
            ]
        ]
    },
    {
        "id": "c5684fbe3647188c",
        "type": "json",
        "z": "1bc17f4ab352e663",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 680,
        "wires": [
            [
                "e3e4ca4613c33672"
            ]
        ]
    },
    {
        "id": "1fc07fd3b5a6f4f2",
        "type": "json",
        "z": "1bc17f4ab352e663",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 460,
        "wires": [
            [
                "5c7c87e7923c7db3"
            ]
        ]
    },
    {
        "id": "aae8c6043a52384a",
        "type": "ui_led",
        "z": "1bc17f4ab352e663",
        "order": 6,
        "group": "0c1fe831f0e36d2a",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "0c1fe831f0e36d2a",
        "type": "ui_group",
        "name": "Temp",
        "tab": "9a6c6cffb35b5c82",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a6c6cffb35b5c82",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]