pract_1/Sesión_4_Prácticas-20220224/electric_flow.json
[
    {
        "id": "261101a0.0d141e",
        "type": "tab",
        "label": "Flow 21",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d2d7552.2bd0b4",
        "type": "http request",
        "z": "261101a0.0d141e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://apidatos.ree.es/es/datos/mercados/precios-mercados-tiempo-real?start_date=2022-02-24T00:00&end_date=2022-02-24T23:59&time_trunc=hour",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 318,
        "y": 170,
        "wires": [
            [
                "af55e7de.eaaa78"
            ]
        ]
    },
    {
        "id": "3a607f16.7e598",
        "type": "inject",
        "z": "261101a0.0d141e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 145,
        "y": 171,
        "wires": [
            [
                "4d2d7552.2bd0b4"
            ]
        ]
    },
    {
        "id": "af55e7de.eaaa78",
        "type": "json",
        "z": "261101a0.0d141e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 484,
        "y": 177,
        "wires": [
            [
                "1556d2ef.b37e45",
                "dfbe12532c2abb81"
            ]
        ]
    },
    {
        "id": "1556d2ef.b37e45",
        "type": "debug",
        "z": "261101a0.0d141e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 678,
        "y": 180,
        "wires": []
    },
    {
        "id": "dfbe12532c2abb81",
        "type": "function",
        "z": "261101a0.0d141e",
        "name": "",
        "func": "msg.payload = msg.payload.included[0].attributes.values[13]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "fbba770a3388ad5c"
            ]
        ]
    },
    {
        "id": "fbba770a3388ad5c",
        "type": "debug",
        "z": "261101a0.0d141e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "3acf9346ed84775c",
        "type": "inject",
        "z": "261101a0.0d141e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "ed117e3d1a5b2335"
            ]
        ]
    },
    {
        "id": "ed117e3d1a5b2335",
        "type": "http request",
        "z": "261101a0.0d141e",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://apidatos.ree.es/es/datos/generacion/evolucion-renovable-no-renovable?start_date=2022-01-01T00:00&end_date=2022-02-24T23:59&time_trunc=day",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 350,
        "y": 480,
        "wires": [
            [
                "d8f512abae8c9047"
            ]
        ]
    },
    {
        "id": "d8f512abae8c9047",
        "type": "json",
        "z": "261101a0.0d141e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "ca7a0c3f97d4b94b",
                "02e1eccb57c12abb"
            ]
        ]
    },
    {
        "id": "ca7a0c3f97d4b94b",
        "type": "debug",
        "z": "261101a0.0d141e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "02e1eccb57c12abb",
        "type": "function",
        "z": "261101a0.0d141e",
        "name": "",
        "func": "msg.payload = msg.payload.included[0].attributes.values[10].percentage\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "e9daeb791f0020d0"
            ]
        ]
    },
    {
        "id": "e9daeb791f0020d0",
        "type": "debug",
        "z": "261101a0.0d141e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 540,
        "wires": []
    }
]