pract_1/Task 3/EjemploRequest.json
[{"id":"261101a0.0d141e","type":"tab","label":"Flow 21","disabled":false,"info":""},{"id":"4d2d7552.2bd0b4","type":"http request","z":"261101a0.0d141e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://apidatos.ree.es/es/datos/mercados/precios-mercados-tiempo-real?start_date=2022-02-23T00:00&end_date=2022-02-23T23:59&time_trunc=hour","tls":"","persist":false,"proxy":"","authType":"","x":318,"y":170,"wires":[["af55e7de.eaaa78"]]},{"id":"3a607f16.7e598","type":"inject","z":"261101a0.0d141e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":145,"y":171,"wires":[["4d2d7552.2bd0b4"]]},{"id":"af55e7de.eaaa78","type":"json","z":"261101a0.0d141e","name":"","property":"payload","action":"","pretty":false,"x":484,"y":177,"wires":[["1556d2ef.b37e45"]]},{"id":"1556d2ef.b37e45","type":"debug","z":"261101a0.0d141e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":678,"y":180,"wires":[]}]